<div id="Log_in_Page" onclick="application.goToTargetView(event)">
	<svg class="Rectangle_3">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_3" rx="65" ry="65" x="0" y="0" width="550" height="130">
		</rect>
	</svg>
	<svg class="Rectangle_5">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_5" rx="35" ry="35" x="0" y="0" width="250" height="70">
		</rect>
	</svg>
	<svg class="Rectangle_6">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_6" rx="35" ry="35" x="0" y="0" width="250" height="70">
		</rect>
	</svg>
	<img id="age_uk_logo" src="age_uk_logo.png" srcset="age_uk_logo.png 1x, age_uk_logo@2x.png 2x">
	<img id="age_uk_logo_z" src="age_uk_logo_z.png" srcset="age_uk_logo_z.png 1x, age_uk_logo_z@2x.png 2x">
	<svg class="Line_1" viewBox="0 0 1920 1">
		<path fill="transparent" stroke="rgba(0,0,0,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_1" d="M 0 0 L 1920 0">
		</path>
	</svg>
	<div id="Welcome_to_Volunteer_AGE_UK">
		<span>Welcome to Volunteer AGE UK</span>
	</div>
	<div id="Find_a_Volunteer">
		<span>Find a Volunteer</span>
	</div>
	<div id="Sign_In">
		<span>Sign In</span>
	</div>
	<div id="Sign_Up">
		<span>Sign Up</span>
	</div>
	<svg class="Rectangle_4">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_4" rx="65" ry="65" x="0" y="0" width="550" height="130">
		</rect>
	</svg>
	<div id="Become_a_Volunteer">
		<span>Become a Volunteer</span>
	</div>
</div>