<div class="container text-center">
  <h3 style="margin-top: 30px; margin-bottom: 30px;">Tell us about your interests</h3>
  <form style="margin-left: 20%;">
    <div class="row text-left">
      <div class="col-md-4 button" id="1">
        <input style="display: none;" onclick="toggleClass('1')" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="baking">
        <label class="form-check-label" for="inlineCheckbox1">Baking</label>
      </div>
      <div class="col-md-4 button" id="2">
        <input style="display: none;" class="form-check-input" onclick="toggleClass('2')" type="checkbox" id="inlineCheckbox2" value="reading">
        <label class="form-check-label" for="inlineCheckbox2">Reading</label>
      </div>
      <div class="col-md-4 button" id="3">
        <input style="display: none;" class="form-check-input" onclick="toggleClass('3')" type="checkbox" id="inlineCheckbox3" value="gardening">
        <label class="form-check-label" for="inlineCheckbox3">Gardening</label>
      </div>
    </div>
    <div class="row text-left">
      <div class="col-md-4 button" id="4">
        <input style="display: none;" class="form-check-input" onclick="toggleClass('4')" type="checkbox" id="inlineCheckbox4" value="sports">
        <label class="form-check-label" for="inlineCheckbox4">Sports</label>
      </div>
      <div class="col-md-4 button" id="5">
        <input style="display: none;" class="form-check-input" onclick="toggleClass('5')" type="checkbox" id="inlineCheckbox5" value="walking">
        <label class="form-check-label" for="inlineCheckbox5">Walking</label>
      </div>
      <div class="col-md-4 button" id="6">
        <input style="display: none;" class="form-check-input" onclick="toggleClass('6')" type="checkbox" id="inlineCheckbox6" value="fishing">
        <label class="form-check-label" for="inlineCheckbox6">Fishing</label>
      </div>
    </div>
    <div class="row text-left">
      <div class="col-md-4 button" id="7">
        <input style="display: none;" class="form-check-input" onclick="toggleClass('7')" type="checkbox" id="inlineCheckbox7" value="dancing">
        <label class="form-check-label" for="inlineCheckbox7">Dancing</label>
      </div>
      <div class="col-md-4 button" id="8">
        <input style="display: none;" class="form-check-input" onclick="toggleClass('8')" type="checkbox" id="inlineCheckbox8" value="languages">
        <label class="form-check-label" for="inlineCheckbox8">Languages</label>
      </div>
      <div class="col-md-4 button" id="9">
        <input style="display: none;" class="form-check-input" onclick="toggleClass('9')" type="checkbox" id="inlineCheckbox9" value="music">
        <label class="form-check-label" for="inlineCheckbox9">Music</label>
      </div>
    </div>
  
    <div>
      <button style="margin-top: 30px;" type="submit" class="btn btn-primary">Next Step...</button>
    </div>
</form>
</div>
<script>
function toggleClass(id) {
  var element = document.getElementById(id);
  element.classList.toggle("buttonChecked");
}
</script>