<%= form_for @user, url: url_for(controller: 'registrations', action: 'update') do |f| %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => "btn btn-primary", :style => "margin-top: 10px" %>
  </div>
<% end %>