<div class="container text-center">
	<img src="https://www.willaid.org.uk/sites/default/files/2017-09/age_uk_logo.png" width="25%" >
	<h2 style="margin-bottom: 30px">Welcome to Volunteer Age UK</h2>
	<div class="row" >
    <div class="col">
      <%= link_to "Find a Volunteer", new_user_registration_path, :method => :get, :class => "homepage-button", :style => "margin-left: 30%" %>

		</div>
    <div class="col">
    
		<%= link_to "Become a Volunteer", new_user_registration_path, :method => :get, :class => "homepage-button", :style => "margin-left: -30%" %>
		</div>
	</div>
</div>
  