<div class="container" style="margin-top: 100px;">
  <div class="row d-flex align-items-center">
    <div class="col-4">
      <img class="profile-picture" src="https://media1.popsugar-assets.com/files/thumbor/oNBqNgBJYzgjNqYE43Qv1QN6mxU/0x124:2212x2336/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2020/03/03/014/n/1922398/4eb760fb5e5ee653d195f6.46191142_/i/Justin-Timberlake.jpg" >
    </div>
    <div class="col-8">
      <h2>Thank you! I will be in contact with you as soon as possible!</h2>
    </div>
  </div>
</div>